<div class="star">
<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <br>
    <%= form.text_field :name, id: :activity_name %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <br>
    <%= form.number_field :cost, id: :activity_cost %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <br>
    <%= form.number_field :duration, id: :activity_duration %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<div>
