<%= form_with(model: lake, local: true) do |form| %>
  <% if lake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lake.errors.count, "error") %> prohibited this lake from being saved:</h2>

      <ul>
      <% lake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :lake_name %>
  </div>

  <div class="field">
    <%= form.label :deptht %>
    <%= form.number_field :deptht, id: :lake_deptht %>
  </div>

  <div class="field">
    <%= form.label :circumference %>
    <%= form.number_field :circumference, id: :lake_circumference %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :lake_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
