<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lake.name %>
</p>

<p>
  <strong>Deptht:</strong>
  <%= @lake.deptht %>
</p>

<p>
  <strong>Circumference:</strong>
  <%= @lake.circumference %>
</p>

<p>
  <strong>Location:</strong>
  <%= @lake.location %>
</p>

<%= link_to 'Edit', edit_lake_path(@lake) %> |
<%= link_to 'Back', lakes_path %>
